html,body{
			width: 100%;
			height: 100%;
			font-size: 16px;
			margin: 0;
			padding: 0;
		}
		body#top {
			background-image: -webkit-gradient(linear,left top,right bottom,from(#5e7771),to(#478049));
		}
		
		.inner-page{
			width: 100%;
		}
		
		.background-grad{
			background-image: -webkit-gradient(linear,left top,right bottom,from(#5e7771),to(#478049));
		}
		
		.inner-page .aside{
			width: 250px;
			height: 100%;
			position: fixed;
			top:0;
			left: 0;
		}
		
		.inner-page .aside nav{
			margin-top: 40px;
		}
		
		.inner-page .aside nav .menu-header{
			font-size: 28px;
			padding: 0px 15px;
			border-bottom: 1px solid;
			text-align: center;
			color: #b7b7b7;
			margin-bottom: 20px;
		}
		
		.inner-page .aside ul{
			margin: 0;
			padding-left: 20px;
			}
		
		.inner-page .aside ul li{
			display:block;
			margin-top: 5px;
		}
		
		.inner-page .aside ul li a{
			text-decoration: none;
			color: #c7c7c7;
			display: block;
			padding: 3px 0px;
		}
		
		.inner-page .aside ul li a:hover{
			color: #a0a0a0;
			transition: 0.3s linear color;
		}

		.inner-page .inner-page-logo{
			text-align: center;
			padding: 20px 0;
		}
		
		.inner-page .inner-page-logo h1{
			letter-spacing: 0px!important;
		}
		
		.inner-page .aside .logout{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 250px;
			/*background-image: -webkit-gradient(linear,left top,right bottom,from(#a3a5a4),to(#72a574));*/
			padding: 15px 0;
			text-align: center;
			border-top: 2px solid rgba(189, 189, 189, 0.3);
			font-weight: 600;
			
		}
		
		.inner-page .aside .logout a{
			text-decoration: none;
			color: #ffffff;
			font-family: 'Arial';
			display: block;
		}
		
		.inner-page .article{
			position:relative;
			left: 250px;
			width: calc(100% - 250px);
		}
		
		.inner-page .article .inner-content{
			margin: 15px;
		}
		
		.inner-page .article h2.page-headline{
			font-size: 32px;
			background-color: #d8d8d8;
			padding: 15px 15px;
			border-radius: 8px;
		}
		
		.inner-page .article .page-option{
			overflow: hidden;
			margin: 10px 0;
		}
		
		.inner-page .article .page-option-btn{
			float: left;
			padding: 5px 15px;
			background-color: #ffd8d8;
			margin: 0 10px;
		}
		
		.inner-page .page-table table{
			width: 100%;
		}
		
		.inner-page .page-table table th{
			background-color: #abd2d6;
			border: 1px solid #fff;
			padding: 10px 10px;
			text-align: left;
		}
		
		.inner-page .page-table table td{
			padding: 10px;
			border-bottom: 1px solid #a0a0a0;
			text-align: left;
		}
		
		.inner-page .page-table table .number{
			text-align: right;
		}
		
		.top-logo{
			margin: 0 0 15px;
		}
		
		h1 {
			margin: 0 0 5px;
			padding: 0;
			font-size: 14px;
			color: #fcfff7;
			letter-spacing: 2px;
			font-family: 'Arial';
		}
		
		.copy-right{
			font-size: 12px;
			color: #ffffff;
			margin: 10px 5px;
			text-align: right;
		}

		div#panel {
			background-color: white;
		}

		.width-margin {
			width: 100%;
			max-width: 1024px;
			margin-left: calc((100% - 1024px) / 2);
			margin-right:  calc((100% - 1024px) / 2);
		}
		
		.height-margin{
			padding-top: 60px;
			padding-bottom: 60px;
		}
		
		.errorMsg{
			font-size: 14px;
			color: #c32e2e;
			padding: 5px 0px;
		}
		
		.panel{
			box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
			padding: 30px 60px;
			background-color: white;
            border-radius: 8px;
			overflow:hidden;
		}
		
		.panel .title{
			font-size: 32px;
			font-weight: 600;
		}
		
		.panel form{
			margin: 0;
			padding: 0;
			overflow:hidden;
		}
		
		.panel form label{
			display: block;
			width: 100%;
			margin: 20px 0px;
		}
		
		.panel form label span{
			font-size: 20px;
			display: inline-block;
			width: 110px;
		}
		
		.panel form label input{
			width: calc(100% - 110px);
			padding: 15px;
			font-size: 18px;
		}
		
		.panel form button{
		    background-color: #4f8a48;
			border: 0;
			color: white;
			font-size: 18px;
			padding: 10px 30px;
			border-radius: 8px;
			cursor: pointer;
		}
		
		.panel form button:hover{
			background-color: #485d45!important;
			transition: 0.3s linear background-color;
		}
		
		@media (max-width: 1024px){
		    .width-margin{
			    width: calc(100% - 30px);
				margin-left: 15px;
				margin-right: 15px;
			}
			
			.panel{
				padding: 10px 15px;
			}
		
		}
		
		@media (max-width: 800px){
			.inner-page .aside{
				width: 100%;
				height: auto;
				position: relative;
				top: auto;
				left: auto;
			}
			.inner-page .aside nav{
				display:none;
			}
			.inner-page .aside .logout{
				display: none;
			}
			
			.inner-page .article{
				position: relative;
				left: 0;
				width: 100%;
			}
		}