html,body{
			width: 100%;
			height: 100%;
			font-size: 16px;
			margin: 0;
			padding: 0;
		}
		body#top {
			background-image: -webkit-gradient(linear,left top,right bottom,from(#5e7771),to(#478049));
		}
		
		.inner-page{
			width: 100%;
		}
		
		.inner-page aside{
			width: 320px;
			background-image: -webkit-gradient(linear,left top,right bottom,from(#5e7771),to(#478049));
			height: 100%;
			position: fixed;
			top:0;
			left: 0;
		}
		
		.inner-page article{
			position:relativ;
			left: 320px;
			width: calc(100% - 320px);
		}
		
		.top-logo{
			margin: 0 0 15px;
		}
		
		h1 {
			margin: 0 0 5px;
			padding: 0;
			font-size: 14px;
			color: #fcfff7;
			letter-spacing: 2px;
			font-family: 'Arial';
		}
		
		.copy-right{
			font-size: 12px;
			color: #ffffff;
			margin: 10px 5px;
			text-align: right;
		}

		div#panel {
			background-color: white;
		}

		.width-margin {
			width: 100%;
			max-width: 1024px;
			margin-left: calc((100% - 1024px) / 2);
			margin-right:  calc((100% - 1024px) / 2);
		}
		
		.height-margin{
			padding-top: 60px;
			padding-bottom: 60px;
		}
		
		.errorMsg{
			font-size: 14px;
			color: #c32e2e;
			padding: 5px 0px;
		}
		
		.panel{
			box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
			padding: 30px 60px;
			background-color: white;
            border-radius: 8px;
			overflow:hidden;
		}
		
		.panel .title{
			font-size: 32px;
			font-weight: 600;
		}
		
		.panel form{
			margin: 0;
			padding: 0;
			overflow:hidden;
		}
		
		.panel form label{
			display: block;
			width: 100%;
			margin: 20px 0px;
		}
		
		.panel form label span{
			font-size: 20px;
			display: inline-block;
			width: 110px;
		}
		
		.panel form label input{
			width: calc(100% - 110px);
			padding: 15px;
			font-size: 18px;
		}
		
		.panel form button{
		    background-color: #4f8a48;
			border: 0;
			color: white;
			font-size: 18px;
			padding: 10px 30px;
			border-radius: 8px;
		}
		
		.panel form button:hover{
			background-color: #485d45!important;
			transition: 0.3s linear background-color;
		}
		
		@media (max-width: 1024px){
		    .width-margin{
			    width: calc(100% - 30px);
				margin-left: 15px;
				margin-right: 15px;
			}
			
			.panel{
				padding: 10px 15px;
			}
		
		}